/*
 * CSS for cheftroid game.
 */

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#canvas {
  position: absolute;
  left: 0pt;
  top: 0pt;
  width: 100%;
  height: 100%;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#version {
  position: fixed;
  font-size: smaller;
  bottom: 0pt;
  right: 0pt;
}
