body {
    font-size: 14pt;
    max-width: 40em;
    margin: auto;
    line-height: 1.1;
}

code {
    font-size: 13pt;
    color: #d06;
}

h1, h2, h3, h4, h5, h6 {
    color: #037;
}

a:link, a:visited {
    color: #48f;
}
